* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
/* .navbar{
    justify-content: center;
} */
.ul{
display: flex;
justify-content: space-between;
}

body{
    background-color: #5f9ea0;
}
@media(min-width: 600px) {
    body {
        background-color:#556b2f;
        color: white;
    }
    html{
        font-size: 100%;
    }
}

html{
    font-size: 100%;
}

@media(min-width: 800px) {
body {
    background-color: #0000ff1f;
    color: white;
}
html{
    font-size: 30%;
}
}

@media(min-width: 1200px) {
body {
    background-color:darkolivegreen
    color:bisque;
}
html{
    font-size: 100%;
}
}


li{
font-size: 1.5rem;
}



header{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 10px;
}

ul{
list-style: none;
display: flex;
justify-content: center;
gap: 30px;
}

#icon{
font-size: 30px;
color:#111112;
display: none;
}


@media(max-width:700px){
ul{
    display: none;
}
#icon{
    display: block;
    
}
}

#img{
height: 500px;
width: 100%;
}